<div class="footer">
    <div class="url">
        <a href="">Bài viết</a>
        <a href="">Điều khoản</a>
        <a href="">FAQ</a>
        <a href="https://www.facebook.com/leejo0ngtu90/">Contact</a>
    </div>
</div>