<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <title>Dịch vụ Lấy CODE OTP web Shopee.vn</title>
</head>

<div class="header">
    <div class="menu">
        <div class="app">
            <a href=""><img src="https://10minemail.com/images/itunes_header.svg" alt="">App Store</a>
            <a href=""><img src="https://10minemail.com/images/gplay_header.svg" alt="">Google Play</a>
        </div>
        <div class="logo">
            <a href="/">Trang Chủ</a>
        </div>
        <div class="">
           <!-- <a class="button" href="https://shopee68.com">Mua Tài Khoản Shopee,Lazada</a> -->
        </div>
    </div>

    <h2 style="text-align: center;">Dịch vụ Lấy CODE OTP Shopee.vn</h2>
    <div class="email">
        <h2>Nhập token Email</h2>
        <div class="temp-mail">
            <div class="email-adress">
                <div class="mail">
                    <input id="emailID" class="mailcss">
                </div>
                <div class="realtime">
                    Xem Thư
                </div>
                <div class="refresh">
                    <a href="/">
                        Làm Mới
                    </a>
                </div>
                
            </div>
            
        </div>

        
    </div>
    <p class="slogan">
        Đây là dịch vụ lấy OTP khi bị xác minh đăng nhập vào tài khoản trên trang Shopee.vn! Vui lòng nhập Token có đi kèm trong File Tài Khoản

    </p>
</div>